@model CrudOperations2.Models.student

<form>
<div class="row">
    <div class="col-6"><span class="label"> @Html.DisplayNameFor(model => model.idstudent)</span></div>
    <div class="col-6"><span class="label"> @Html.DisplayFor(model => model.idstudent)</span></div>
</div>
<div class="row">
    <div class="col-6"><span class="label"> @Html.DisplayNameFor(model => model.Name)</span></div>
    <div class="col-6"><span class="label"> @Html.DisplayFor(model => model.Name)</span></div>
</div>
<div class="row">
    <div class="col-6"><span class="label"> @Html.DisplayNameFor(model => model.Std)</span></div>
    <div class="col-6"><span class="label"> @Html.DisplayFor(model => model.Std)</span></div>
</div>
<div class="row">
    <div class="col-6"><span class="label"> @Html.DisplayNameFor(model => model.Phone)</span></div>
    <div class="col-6"><span class="label"> @Html.DisplayFor(model => model.Phone)</span></div>
</div>
<div class="row">
    <div class="col-6"><span class="label"> @Html.DisplayNameFor(model => model.Percentage)</span></div>
    <div class="col-6"><span class="label"> @Html.DisplayFor(model => model.Percentage)</span></div>
</div>
<div class="row">
    <div class="col-6"><span class="label"> @Html.DisplayNameFor(model => model.hobby)</span></div>
    <div class="col-6"><span class="label"> @Html.DisplayFor(model => model.hobby)</span></div>
</div>
@*<div class="row">
    <div class="col-12">
        <a class="btn btn-secondary  paddingLeftRight0 float-right" style=" padding-left: 5px; padding-right: 5px;" href="/Student/Index"><i class="fas fa-step-backward"></i> Back</a>
    </div>
</div>*@
</form>
