@model CrudOperations2.Models.student

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@

<div>
    @*<h4>student</h4>
    <hr />*@
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Students Details</h2>
                    <form method="POST">
                        <div class="row">
                            <div class="col-12 text-center">
                                <img src="@Url.Content(Convert.ToString(Model.userImage))" class="img-thumbnail rounded-circle" width="100" height="100" />
                            </div>
                        </div>
                        @*<div class="row row-space">
            <span class="label"> @Html.DisplayNameFor(model => model.idstudent)</span>
            <span class="label" style="padding-right:300px;"> @Html.DisplayFor(model => model.idstudent)</span>
        </div>
        <div class="row row-space">
            <span class="label"> @Html.DisplayNameFor(model => model.Name)</span>
            <span class="label" style="padding-right:300px;"> @Html.DisplayFor(model => model.Name)</span>

        </div>
        <div class="row row-space">
            <span class="label"> @Html.DisplayNameFor(model => model.Std)</span>
            <span class="label" style="padding-right:300px;"> @Html.DisplayFor(model => model.Std)</span>

        </div>
        <div class="row row-space">
            <span class="label"> @Html.DisplayNameFor(model => model.Phone)</span>
            <span class="label" style="padding-right:300px;"> @Html.DisplayFor(model => model.Phone)</span>

        </div>
        <div class="row row-space">
            <span class="label"> @Html.DisplayNameFor(model => model.Percentage)</span>
            <span class="label" style="padding-right:300px;"> @Html.DisplayFor(model => model.Percentage)</span>

        </div>
        <div class="row row-space">
            <span class="label"> @Html.DisplayNameFor(model => model.hobby)</span>
            <span class="label" style="padding-right:300px;"> @Html.DisplayFor(model => model.hobby)</span>

        </div>
        <div class="row row-space">
            <span class="label"> @Html.DisplayNameFor(model => model.userImage)</span>
            <img src="@Url.Content(Convert.ToString(Model.userImage))" width="50" height="50" />

        </div>

        <div class="p-t-15">
            <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
        </div>*@
                        <div class="row">
                            <div class="col-6"><span class="label"> @Html.DisplayNameFor(model => model.idstudent)</span></div>
                            <div class="col-6"><span class="label"> @Html.DisplayFor(model => model.idstudent)</span></div>
                        </div>
                        <div class="row">
                            <div class="col-6"><span class="label"> @Html.DisplayNameFor(model => model.Name)</span></div>
                            <div class="col-6"><span class="label"> @Html.DisplayFor(model => model.Name)</span></div>
                        </div>
                        <div class="row">
                            <div class="col-6"><span class="label"> @Html.DisplayNameFor(model => model.Std)</span></div>
                            <div class="col-6"><span class="label"> @Html.DisplayFor(model => model.Std)</span></div>
                        </div>
                        <div class="row">
                            <div class="col-6"><span class="label"> @Html.DisplayNameFor(model => model.Phone)</span></div>
                            <div class="col-6"><span class="label"> @Html.DisplayFor(model => model.Phone)</span></div>
                        </div>
                        <div class="row">
                            <div class="col-6"><span class="label"> @Html.DisplayNameFor(model => model.Percentage)</span></div>
                            <div class="col-6"><span class="label"> @Html.DisplayFor(model => model.Percentage)</span></div>
                        </div>
                        <div class="row">
                            <div class="col-6"><span class="label"> @Html.DisplayNameFor(model => model.hobby)</span></div>
                            <div class="col-6"><span class="label"> @Html.DisplayFor(model => model.hobby)</span></div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a class="btn btn-secondary  paddingLeftRight0 float-right" style=" padding-left: 5px; padding-right: 5px;" href="/Student/Index"><i class="fas fa-step-backward"></i> Back</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
