@model CrudOperations2.Models.student

@{
    /**/

    ViewBag.Title = "Edit";
}

@*<h2>Edit</h2>*@


@using (Html.BeginForm("Edit", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()



    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Edit Student Details</h2>
                    <form method="POST">
                        <div class="row">
                            <div class="col-12 text-center">
                                <div class="image-upload">
                                    <label for="imageBrowes">
                                        <img id="targetImg" src="@Url.Content(Convert.ToString(Model.userImage))" class="img-thumbnail rounded-circle" />
                                    </label>
                                    <input id="imageBrowes" type="file" name="file" />
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.idstudent, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @type = "hidden" } })
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "label" })
                                    @*<input class="input--style-4" type="text" name="first_name">*@
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input--style-4", @name = "first_name" } })

                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "label" })

                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "input--style-4", @name = "last_name" } })
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    @Html.LabelFor(model => model.Percentage, htmlAttributes: new { @class = "label" })
                                    <div class="input-group-icon">

                                        @Html.EditorFor(model => model.Percentage, new { htmlAttributes = new { @class = "input--style-4", @name = "birthday" } })
                                        @*<i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "label" })
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">
                                            Male
                                            @Html.RadioButtonFor(m => m.Gender, "Male")
                                            @*<input type="radio" checked="checked" name="gender">*@
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">
                                            Female
                                            @Html.RadioButtonFor(m => m.Gender, "Female")
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-12">
                                <div class="input-group">
                                    @Html.LabelFor(model => model.hobby, htmlAttributes: new { @class = "label" })
                                    @{
                                        int flag = 0;
                                        var hobbies = ViewBag.studhobby;
                                        string[] hobbiesArray = hobbies.Split(',');
                                        IList<CrudOperations2.Models.hobby> mylist = ViewBag.hobby;
                                        foreach (var h in mylist)
                                        {
                                            for (int i = 0; i < hobbiesArray.Length; i++)
                                            {
                                                string Temphobby = h.hobbiesName.ToString();
                                                if (Temphobby == hobbiesArray[i])
                                                {
                                                    flag = 1;
                                                    <label class="checkbox-inline"><input type="checkbox" name="hobbies" checked="checked" value="@h.hobbiesName" />@h.hobbiesName</label>
                                                    break;
                                                }
                                            }
                                            if (flag == 1)
                                            {
                                                flag = 0; continue;
                                            }
                                            else
                                            {
                                                <label class="checkbox-inline"><input type="checkbox" name="hobbies" value="@h.hobbiesName" />@h.hobbiesName</label>
                                            }
                                        }
                                    }
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Standard</label>
                                    <div class="input-group">

                                        @Html.DropDownList("STD", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "1st", Value = "1", Selected=true},
                                new SelectListItem { Text = "2nd", Value = "2"},
                                new SelectListItem { Text = "3rd", Value = "3"},
                                new SelectListItem { Text = "4th", Value = "4"},
                                new SelectListItem { Text = "5th", Value = "5"},
                                new SelectListItem { Text = "6th", Value = "6"},
                                new SelectListItem { Text = "7th", Value = "7"},
                                new SelectListItem { Text = "8th", Value = "8"},
                                new SelectListItem { Text = "9th", Value = "9"},
                                new SelectListItem { Text = "10th", Value = "10"},
                                new SelectListItem { Text = "11th", Value = "11"},
                                new SelectListItem { Text = "12th", Value = "12"}

                                }, "-----  Select Standard  -----", new { @class = "form-control" })
                                    </div>

                                </div>
                            </div>
                           
                        </div>
                        <div class="row">

                            <div class="col-6">
                                <button class="btn  btn-success" type="submit">Submit</button>
                            </div>
                            <div class="col-6 ">
                                @*@Html.ActionLink("Back to List", "Index", new { @class = "btn btn-sm" })*@
                                <a class="btn btn-secondary  paddingLeftRight0 float-right" style=" padding-left: 5px; padding-right: 5px;" href="/Student/Index"><i class="fas fa-step-backward"></i> Back</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/scripts/jquery-3.3.1.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {

            $("#imageBrowes").change(function () {

                var File = this.files;

                if (File && File[0]) {
                    ReadImage(File[0]);
                }
            })
        })

        var ReadImage = function (file) {
            var reader = new FileReader;
            var image = new Image;

            reader.readAsDataURL(file);
            reader.onload = function (_file) {
                image.src = _file.target.result;
                image.onload = function () {
                    var height = this.height;
                    var width = this.width;
                    var type = file.type;
                    var size = ~~(file.size / 1024) + "kb";

                    $("#targetImg").attr('src', _file.target.result);
                   // $("#description").text("Size:" + size + ", " + height + "X " + width + ", " + type + "");
                  //  $("#imgPreview").show();
                }
            }
        }


       // var ClearPreview = function () {
        //    $("#imageBrowes").val('');
           // $("#description").text('');
           // $("#imgPreview").hide();

      //  }

    </script>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
